<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/context     
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- IOC配置 -->
	<!-- 扫描配置 -->
	<context:component-scan base-package="com.ms.spring"/>
	<context:component-scan base-package="com.ms.service"/>
	
	<!-- AOP配置 -->
	<!-- 扫描配置 -->
	<context:component-scan base-package="com.ms.aspect"/>
	<context:component-scan base-package="com.ms.service"/>
	<!-- 把找到被注解了的切面类，进行切面配置 -->
	<aop:aspectj-autoproxy/>


</beans>